In [8]:
import numpy as np
import scipy #only sparse matrices allowed
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [9]:
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score

In [10]:
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.naive_bayes import GaussianNB
from sklearn.naive_bayes import MultinomialNB
from sklearn.linear_model import SGDClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier
from lightgbm import LGBMClassifier
from xgboost.sklearn import XGBClassifier

In [11]:
#We need to increase the categorization accuracy.

In [12]:
df_train = pd.read_csv(r"./ift3395-6390-weatherevents/train.csv")

In [13]:
submit_df = pd.read_csv(r"./ift3395-6390-weatherevents/test.csv")

In [14]:
df_train.head()

,S.No,lat,lon,TMQ,U850,V850,UBOT,VBOT,QREFHT,PS,...,T200,T500,PRECT,TS,TREFHT,Z1000,Z200,ZBOT,time,LABELS
0,0,-24.758801,242.1875,16.019615,-4.391696,4.777769,-6.388222,7.725320,0.010277,102326.2344,...,221.594223,261.823212,6.660000e-09,295.622253,293.301514,197.698624,12234.78809,64.372635,20030804,0
1,1,23.820078,277.8125,47.802036,8.623652,9.308566,4.596105,9.938286,0.018531,100803.1094,...,220.343719,269.106720,3.670000e-16,302.496826,302.654083,71.571518,12463.97266,66.834389,20071006,1
2,2,23.820078,276.8750,11.556691,-2.483993,-6.009627,-3.503036,-5.921963,0.007468,101885.3906,...,215.933487,259.610718,0.000000e+00,299.854919,293.339996,160.414246,12099.36133,64.209663,20020331,0
3,3,13.494133,253.1250,53.186630,0.150933,-1.319407,3.757741,-2.172120,0.018809,100824.6328,...,218.457672,267.374329,9.800000e-08,301.606934,299.973450,72.840614,12379.26855,66.243294,20000906,0
4,4,-24.524120,241.2500,23.353998,-7.467506,-5.113565,-9.545109,-4.691221,0.011672,102553.8984,...,214.316605,263.575409,6.410000e-09,295.819488,295.101257,218.449570,12261.22656,64.876427,20000906,0

In [15]:
def df_year_handler(df_train):
    #df_train is the train df loaded from our csv file
    #labels are not dealt with here, so keep them in a separate column before calling this
    #df_train2 = df_train.drop(columns=["S.No"])
    df_train2 = df_train
    #df_train2 = df_train
    #https://stackoverflow.com/questions/22005911/convert-columns-to-string-in-pandas
    #converting to string for the split
    df_train2["time"] = df_train2["time"].astype(str)
    #expand will return multiple columns with the split strings
    split_columns = df_train2["time"].str.split("",expand=True)
    year = split_columns[1] + split_columns[2] + split_columns[3] +split_columns[4]
    month = split_columns[5] + split_columns[6]
    date = split_columns[7] + split_columns[8]
    
    #converting series to df and renaming the column so we dont end up with a bunch of columns named 0
    #https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.rename.html
    year = pd.DataFrame(year)
    month = pd.DataFrame(month)
    date = pd.DataFrame(date)

    year = year.rename(columns={0: "year"})
    month = month.rename(columns={0: "month"})
    date = date.rename(columns={0: "date"})

    #we need to convert the strings back to integers
    #https://datatofish.com/string-to-integer-dataframe/
    year['year'] = year['year'].astype(int)
    month['month'] = month['month'].astype(int)
    date['date'] = date['date'].astype(int)
    
    #adding these back to the original df
    df = pd.concat([df_train2, year, month, date], axis = 1)
    df = df.drop(columns=["time"])
    #df.head()
    
    return df

### I hear there are duplicates in the data

### There are samples which have the same feature values but different target values

### let's try to handle these

In [16]:
df_train

,S.No,lat,lon,TMQ,U850,V850,UBOT,VBOT,QREFHT,PS,...,T200,T500,PRECT,TS,TREFHT,Z1000,Z200,ZBOT,time,LABELS
0,0,-24.758801,242.1875,16.019615,-4.391696,4.777769,-6.388222,7.725320,0.010277,102326.2344,...,221.594223,261.823212,6.660000e-09,295.622253,293.301514,197.698624,12234.78809,64.372635,20030804,0
1,1,23.820078,277.8125,47.802036,8.623652,9.308566,4.596105,9.938286,0.018531,100803.1094,...,220.343719,269.106720,3.670000e-16,302.496826,302.654083,71.571518,12463.97266,66.834389,20071006,1
2,2,23.820078,276.8750,11.556691,-2.483993,-6.009627,-3.503036,-5.921963,0.007468,101885.3906,...,215.933487,259.610718,0.000000e+00,299.854919,293.339996,160.414246,12099.36133,64.209663,20020331,0
3,3,13.494133,253.1250,53.186630,0.150933,-1.319407,3.757741,-2.172120,0.018809,100824.6328,...,218.457672,267.374329,9.800000e-08,301.606934,299.973450,72.840614,12379.26855,66.243294,20000906,0
4,4,-24.524120,241.2500,23.353998,-7.467506,-5.113565,-9.545109,-4.691221,0.011672,102553.8984,...,214.316605,263.575409,6.410000e-09,295.819488,295.101257,218.449570,12261.22656,64.876427,20000906,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47755,47755,-30.625815,353.4375,14.680613,3.153518,4.250256,-0.406992,3.480553,0.008333,102109.4844,...,213.804184,259.846222,2.470000e-09,291.791870,290.141663,177.677322,12058.16016,63.678669,20001106,2
47756,47756,-24.993481,242.1875,29.540585,9.181329,-0.369805,7.125068,-5.466469,0.013645,101734.2813,...,213.867416,263.996307,2.620000e-09,296.322327,296.220642,150.108871,12272.25781,65.238327,20010712,2
47757,47757,-30.625815,353.4375,20.991110,7.709649,-6.284292,3.702500,-7.359541,0.010529,101800.8516,...,216.394852,264.192566,4.240000e-09,290.757996,290.736847,152.666443,12232.26953,63.929737,20011029,0
47758,47758,23.585398,276.5625,45.689816,-3.018448,0.280351,-6.938124,0.681055,0.020653,101641.2266,...,217.026199,265.778900,8.620000e-08,302.751862,301.542786,145.255554,12404.29297,66.656548,20020712,0
47759,47759,24.054759,276.8750,49.550251,-2.582931,-0.844238,-6.318487,-1.986166,0.017553,101374.0859,...,217.422790,265.335571,2.270000e-08,301.325226,300.146851,121.040375,12352.48535,66.221062,20081012,0

In [17]:
df_train = df_year_handler(df_train)

In [18]:
labels = df_train[["LABELS"]]

In [19]:
df_train = df_train.drop(columns=["S.No","LABELS"])

In [20]:
df_train = pd.concat([df_train, labels],axis=1)

In [21]:
df_train

,lat,lon,TMQ,U850,V850,UBOT,VBOT,QREFHT,PS,PSL,...,PRECT,TS,TREFHT,Z1000,Z200,ZBOT,year,month,date,LABELS
0,-24.758801,242.1875,16.019615,-4.391696,4.777769,-6.388222,7.725320,0.010277,102326.2344,102326.2344,...,6.660000e-09,295.622253,293.301514,197.698624,12234.78809,64.372635,2003,8,4,0
1,23.820078,277.8125,47.802036,8.623652,9.308566,4.596105,9.938286,0.018531,100803.1094,100803.1094,...,3.670000e-16,302.496826,302.654083,71.571518,12463.97266,66.834389,2007,10,6,1
2,23.820078,276.8750,11.556691,-2.483993,-6.009627,-3.503036,-5.921963,0.007468,101885.3906,101885.3906,...,0.000000e+00,299.854919,293.339996,160.414246,12099.36133,64.209663,2002,3,31,0
3,13.494133,253.1250,53.186630,0.150933,-1.319407,3.757741,-2.172120,0.018809,100824.6328,100824.6328,...,9.800000e-08,301.606934,299.973450,72.840614,12379.26855,66.243294,2000,9,6,0
4,-24.524120,241.2500,23.353998,-7.467506,-5.113565,-9.545109,-4.691221,0.011672,102553.8984,102553.8984,...,6.410000e-09,295.819488,295.101257,218.449570,12261.22656,64.876427,2000,9,6,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47755,-30.625815,353.4375,14.680613,3.153518,4.250256,-0.406992,3.480553,0.008333,102109.4844,102109.4844,...,2.470000e-09,291.791870,290.141663,177.677322,12058.16016,63.678669,2000,11,6,2
47756,-24.993481,242.1875,29.540585,9.181329,-0.369805,7.125068,-5.466469,0.013645,101734.2813,101734.2813,...,2.620000e-09,296.322327,296.220642,150.108871,12272.25781,65.238327,2001,7,12,2
47757,-30.625815,353.4375,20.991110,7.709649,-6.284292,3.702500,-7.359541,0.010529,101800.8516,101800.8516,...,4.240000e-09,290.757996,290.736847,152.666443,12232.26953,63.929737,2001,10,29,0
47758,23.585398,276.5625,45.689816,-3.018448,0.280351,-6.938124,0.681055,0.020653,101641.2266,101641.2266,...,8.620000e-08,302.751862,301.542786,145.255554,12404.29297,66.656548,2002,7,12,0
47759,24.054759,276.8750,49.550251,-2.582931,-0.844238,-6.318487,-1.986166,0.017553,101374.0859,101374.0859,...,2.270000e-08,301.325226,300.146851,121.040375,12352.48535,66.221062,2008,10,12,0

In [22]:
#Dropping raw duplicates with labels
df_temp1 = df_train.drop_duplicates()

In [23]:
df_temp1

,lat,lon,TMQ,U850,V850,UBOT,VBOT,QREFHT,PS,PSL,...,PRECT,TS,TREFHT,Z1000,Z200,ZBOT,year,month,date,LABELS
0,-24.758801,242.1875,16.019615,-4.391696,4.777769,-6.388222,7.725320,0.010277,102326.2344,102326.2344,...,6.660000e-09,295.622253,293.301514,197.698624,12234.78809,64.372635,2003,8,4,0
1,23.820078,277.8125,47.802036,8.623652,9.308566,4.596105,9.938286,0.018531,100803.1094,100803.1094,...,3.670000e-16,302.496826,302.654083,71.571518,12463.97266,66.834389,2007,10,6,1
2,23.820078,276.8750,11.556691,-2.483993,-6.009627,-3.503036,-5.921963,0.007468,101885.3906,101885.3906,...,0.000000e+00,299.854919,293.339996,160.414246,12099.36133,64.209663,2002,3,31,0
3,13.494133,253.1250,53.186630,0.150933,-1.319407,3.757741,-2.172120,0.018809,100824.6328,100824.6328,...,9.800000e-08,301.606934,299.973450,72.840614,12379.26855,66.243294,2000,9,6,0
4,-24.524120,241.2500,23.353998,-7.467506,-5.113565,-9.545109,-4.691221,0.011672,102553.8984,102553.8984,...,6.410000e-09,295.819488,295.101257,218.449570,12261.22656,64.876427,2000,9,6,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47743,23.585398,276.5625,41.815079,-5.981042,7.609122,-8.963073,2.837600,0.020747,101517.6328,101517.6406,...,3.870000e-08,302.773254,302.241974,134.770569,12433.16016,66.823296,2001,8,4,0
47744,-24.993481,242.5000,23.160349,-6.694213,1.401017,-8.668851,4.462517,0.010743,102259.7891,102259.7891,...,7.730000e-09,295.015991,293.339417,192.308746,12169.76367,64.421112,2008,10,3,0
47750,13.494133,253.7500,44.489532,-2.837747,-1.062834,-3.629961,-1.991696,0.017999,100848.6094,100848.6094,...,7.100000e-10,302.839966,301.316742,75.255516,12388.10938,66.508980,1997,6,18,0
47754,13.024772,253.4375,53.848255,10.059551,-0.746791,9.813080,1.184948,0.019498,100899.0000,100899.0000,...,2.430000e-07,302.068481,300.820374,79.624161,12387.60742,66.427940,2004,10,3,0
47759,24.054759,276.8750,49.550251,-2.582931,-0.844238,-6.318487,-1.986166,0.017553,101374.0859,101374.0859,...,2.270000e-08,301.325226,300.146851,121.040375,12352.48535,66.221062,2008,10,12,0

In [24]:
# Drop all feature duplicates, which may have different labels that confuse our model
df_temp2 = df_temp1.drop_duplicates(subset=df_temp1.columns[0:-1], keep=False)

In [25]:
df_temp2_labels = df_temp2[["LABELS"]]
df_temp2_labels

       LABELS
0           0
2           0
3           0
5           2
6           0
...       ...
47742       0
47743       0
47744       0
47750       0
47759       0

[19447 rows x 1 columns]

In [26]:
df_temp2 = df_temp2.drop(columns=["LABELS"])
df_temp2

,lat,lon,TMQ,U850,V850,UBOT,VBOT,QREFHT,PS,PSL,...,T500,PRECT,TS,TREFHT,Z1000,Z200,ZBOT,year,month,date
0,-24.758801,242.1875,16.019615,-4.391696,4.777769,-6.388222,7.725320,0.010277,102326.2344,102326.2344,...,261.823212,6.660000e-09,295.622253,293.301514,197.698624,12234.78809,64.372635,2003,8,4
2,23.820078,276.8750,11.556691,-2.483993,-6.009627,-3.503036,-5.921963,0.007468,101885.3906,101885.3906,...,259.610718,0.000000e+00,299.854919,293.339996,160.414246,12099.36133,64.209663,2002,3,31
3,13.494133,253.1250,53.186630,0.150933,-1.319407,3.757741,-2.172120,0.018809,100824.6328,100824.6328,...,267.374329,9.800000e-08,301.606934,299.973450,72.840614,12379.26855,66.243294,2000,9,6
5,-24.524120,241.5625,43.424503,10.390884,-10.737404,2.822728,-11.261213,0.014424,101099.9375,101099.9375,...,264.098419,5.650000e-08,296.483215,296.177185,95.622093,12237.61719,65.247345,2001,9,19
6,-24.993481,242.1875,34.667477,-1.841543,3.988539,1.742689,6.661032,0.013957,101552.2656,101552.2656,...,264.075195,3.570000e-09,299.140747,297.297180,134.934036,12242.46875,65.431206,2001,4,25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47742,23.585398,277.5000,24.418753,3.641168,6.957775,-8.155352,3.388716,0.013139,102010.6250,102012.7266,...,261.399536,8.420000e-19,297.565277,295.948151,173.441727,12256.40039,65.099129,2001,2,2
47743,23.585398,276.5625,41.815079,-5.981042,7.609122,-8.963073,2.837600,0.020747,101517.6328,101517.6406,...,265.900665,3.870000e-08,302.773254,302.241974,134.770569,12433.16016,66.823296,2001,8,4
47744,-24.993481,242.5000,23.160349,-6.694213,1.401017,-8.668851,4.462517,0.010743,102259.7891,102259.7891,...,262.539703,7.730000e-09,295.015991,293.339417,192.308746,12169.76367,64.421112,2008,10,3
47750,13.494133,253.7500,44.489532,-2.837747,-1.062834,-3.629961,-1.991696,0.017999,100848.6094,100848.6094,...,268.018402,7.100000e-10,302.839966,301.316742,75.255516,12388.10938,66.508980,1997,6,18
47759,24.054759,276.8750,49.550251,-2.582931,-0.844238,-6.318487,-1.986166,0.017553,101374.0859,101374.0859,...,265.335571,2.270000e-08,301.325226,300.146851,121.040375,12352.48535,66.221062,2008,10,12

In [27]:
df_temp2_std = (df_temp2-df_temp2.mean())/df_temp2.std()
df_temp2_np_std = df_temp2_std.to_numpy()
df_temp2_labels_np = df_temp2_labels.to_numpy()

In [28]:
#train a model to make predictions on conflicting values
#https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LogisticRegression.html

rf_clf_for_good_data = RandomForestClassifier(n_estimators = 100, max_features = 'sqrt', max_depth = None, 
                                              criterion = 'entropy', class_weight = None).fit(df_temp2_np_std, df_temp2_labels_np.ravel())

In [29]:
# predicting on duplicates
# duplicates is a mask
duplicates = df_temp1.duplicated(subset=df_temp1.columns[0:-1], keep='first')
duplicates_df = df_temp1[duplicates]
duplicates_df_std = (duplicates_df-duplicates_df.mean())/duplicates_df.std()
duplicates_df_std = duplicates_df_std.drop(columns=["LABELS"])
duplicates_df_std_np = duplicates_df_std.to_numpy()

predictions = rf_clf_for_good_data.predict(duplicates_df_std_np)

In [30]:
labels_new = pd.DataFrame(data=predictions, columns=["LABELS"])

In [31]:
labels_new

      LABELS
0          0
1          0
2          0
3          0
4          0
...      ...
3198       0
3199       0
3200       0
3201       0
3202       0

[3203 rows x 1 columns]

In [32]:
duplicates_df = duplicates_df.reset_index()
duplicates_df = duplicates_df.drop(columns=["index","LABELS"])
duplicates_df

,lat,lon,TMQ,U850,V850,UBOT,VBOT,QREFHT,PS,PSL,...,T500,PRECT,TS,TREFHT,Z1000,Z200,ZBOT,year,month,date
0,-24.289439,241.2500,34.993114,-1.250208,1.830655,-1.164386,0.791331,0.013837,102127.5781,102127.5781,...,264.752441,3.730000e-15,299.001129,297.850922,184.584137,12322.55469,65.601128,2001,5,7
1,23.820078,276.8750,47.643150,-8.193987,-0.793653,2.222956,-2.483554,0.014301,101641.0391,101641.0391,...,267.657288,1.640000e-13,302.688385,301.619019,144.736191,12478.61816,66.431099,2010,7,5
2,-31.095176,353.4375,17.494404,5.393440,-10.987731,2.693818,-11.873419,0.007240,102210.5703,102210.5703,...,257.774780,4.920000e-09,290.675598,289.177429,185.113617,12021.61426,63.365555,2002,8,24
3,21.473272,275.3125,47.726372,-7.007339,9.557825,-7.793356,-0.364407,0.016162,101481.4141,101481.4609,...,267.678680,3.050000e-11,302.522949,301.916351,131.041611,12470.16699,66.546646,2010,7,5
4,-24.758801,242.5000,16.059599,3.491873,2.355471,0.478088,3.135037,0.007984,101822.5000,101822.5000,...,259.952759,6.140000e-12,296.630707,293.299530,155.424042,12095.59961,64.323791,2006,6,22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3198,-20.769231,229.6875,17.247395,5.472986,-3.642907,-1.382102,-4.805233,0.012555,101502.6406,101502.6406,...,265.733765,5.370000e-17,297.768890,296.710236,130.367966,12308.53027,65.280739,2000,9,28
3199,13.494133,252.8125,53.929550,-7.672997,-4.186466,5.395471,5.290195,0.018129,100943.5156,100943.5156,...,266.613464,4.480000e-20,302.127685,298.890289,82.900589,12407.66797,65.909958,2009,7,15
3200,-21.003911,229.6875,34.676754,-9.601542,1.853052,-11.285004,4.884233,0.013464,102099.4609,102099.4609,...,264.383758,1.590000e-07,297.313141,296.051178,180.867950,12299.45996,65.126869,2010,10,19
3201,-21.003911,229.0625,23.064512,-3.096328,-3.706821,-3.422838,-1.319323,0.013747,101791.6016,101791.6016,...,266.522919,4.100000e-15,296.893219,296.203308,154.993484,12338.62500,65.235397,1996,10,3
3202,13.024772,253.4375,53.848255,10.059551,-0.746791,9.813080,1.184948,0.019498,100899.0000,100899.0000,...,266.822144,2.430000e-07,302.068481,300.820374,79.624161,12387.60742,66.427940,2004,10,3

In [33]:
final_df1 = pd.concat([duplicates_df, labels_new], axis = 1)
final_df1

,lat,lon,TMQ,U850,V850,UBOT,VBOT,QREFHT,PS,PSL,...,PRECT,TS,TREFHT,Z1000,Z200,ZBOT,year,month,date,LABELS
0,-24.289439,241.2500,34.993114,-1.250208,1.830655,-1.164386,0.791331,0.013837,102127.5781,102127.5781,...,3.730000e-15,299.001129,297.850922,184.584137,12322.55469,65.601128,2001,5,7,0
1,23.820078,276.8750,47.643150,-8.193987,-0.793653,2.222956,-2.483554,0.014301,101641.0391,101641.0391,...,1.640000e-13,302.688385,301.619019,144.736191,12478.61816,66.431099,2010,7,5,0
2,-31.095176,353.4375,17.494404,5.393440,-10.987731,2.693818,-11.873419,0.007240,102210.5703,102210.5703,...,4.920000e-09,290.675598,289.177429,185.113617,12021.61426,63.365555,2002,8,24,0
3,21.473272,275.3125,47.726372,-7.007339,9.557825,-7.793356,-0.364407,0.016162,101481.4141,101481.4609,...,3.050000e-11,302.522949,301.916351,131.041611,12470.16699,66.546646,2010,7,5,0
4,-24.758801,242.5000,16.059599,3.491873,2.355471,0.478088,3.135037,0.007984,101822.5000,101822.5000,...,6.140000e-12,296.630707,293.299530,155.424042,12095.59961,64.323791,2006,6,22,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3198,-20.769231,229.6875,17.247395,5.472986,-3.642907,-1.382102,-4.805233,0.012555,101502.6406,101502.6406,...,5.370000e-17,297.768890,296.710236,130.367966,12308.53027,65.280739,2000,9,28,0
3199,13.494133,252.8125,53.929550,-7.672997,-4.186466,5.395471,5.290195,0.018129,100943.5156,100943.5156,...,4.480000e-20,302.127685,298.890289,82.900589,12407.66797,65.909958,2009,7,15,0
3200,-21.003911,229.6875,34.676754,-9.601542,1.853052,-11.285004,4.884233,0.013464,102099.4609,102099.4609,...,1.590000e-07,297.313141,296.051178,180.867950,12299.45996,65.126869,2010,10,19,0
3201,-21.003911,229.0625,23.064512,-3.096328,-3.706821,-3.422838,-1.319323,0.013747,101791.6016,101791.6016,...,4.100000e-15,296.893219,296.203308,154.993484,12338.62500,65.235397,1996,10,3,0
3202,13.024772,253.4375,53.848255,10.059551,-0.746791,9.813080,1.184948,0.019498,100899.0000,100899.0000,...,2.430000e-07,302.068481,300.820374,79.624161,12387.60742,66.427940,2004,10,3,0

In [34]:
df_temp2 = pd.concat([df_temp2, df_temp2_labels], axis = 1)
df_temp2

,lat,lon,TMQ,U850,V850,UBOT,VBOT,QREFHT,PS,PSL,...,PRECT,TS,TREFHT,Z1000,Z200,ZBOT,year,month,date,LABELS
0,-24.758801,242.1875,16.019615,-4.391696,4.777769,-6.388222,7.725320,0.010277,102326.2344,102326.2344,...,6.660000e-09,295.622253,293.301514,197.698624,12234.78809,64.372635,2003,8,4,0
2,23.820078,276.8750,11.556691,-2.483993,-6.009627,-3.503036,-5.921963,0.007468,101885.3906,101885.3906,...,0.000000e+00,299.854919,293.339996,160.414246,12099.36133,64.209663,2002,3,31,0
3,13.494133,253.1250,53.186630,0.150933,-1.319407,3.757741,-2.172120,0.018809,100824.6328,100824.6328,...,9.800000e-08,301.606934,299.973450,72.840614,12379.26855,66.243294,2000,9,6,0
5,-24.524120,241.5625,43.424503,10.390884,-10.737404,2.822728,-11.261213,0.014424,101099.9375,101099.9375,...,5.650000e-08,296.483215,296.177185,95.622093,12237.61719,65.247345,2001,9,19,2
6,-24.993481,242.1875,34.667477,-1.841543,3.988539,1.742689,6.661032,0.013957,101552.2656,101552.2656,...,3.570000e-09,299.140747,297.297180,134.934036,12242.46875,65.431206,2001,4,25,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47742,23.585398,277.5000,24.418753,3.641168,6.957775,-8.155352,3.388716,0.013139,102010.6250,102012.7266,...,8.420000e-19,297.565277,295.948151,173.441727,12256.40039,65.099129,2001,2,2,0
47743,23.585398,276.5625,41.815079,-5.981042,7.609122,-8.963073,2.837600,0.020747,101517.6328,101517.6406,...,3.870000e-08,302.773254,302.241974,134.770569,12433.16016,66.823296,2001,8,4,0
47744,-24.993481,242.5000,23.160349,-6.694213,1.401017,-8.668851,4.462517,0.010743,102259.7891,102259.7891,...,7.730000e-09,295.015991,293.339417,192.308746,12169.76367,64.421112,2008,10,3,0
47750,13.494133,253.7500,44.489532,-2.837747,-1.062834,-3.629961,-1.991696,0.017999,100848.6094,100848.6094,...,7.100000e-10,302.839966,301.316742,75.255516,12388.10938,66.508980,1997,6,18,0
47759,24.054759,276.8750,49.550251,-2.582931,-0.844238,-6.318487,-1.986166,0.017553,101374.0859,101374.0859,...,2.270000e-08,301.325226,300.146851,121.040375,12352.48535,66.221062,2008,10,12,0

In [35]:
final_df = pd.concat([df_temp2, final_df1], ignore_index = True)

In [107]:
final_df

,lat,lon,TMQ,U850,V850,UBOT,VBOT,QREFHT,PS,PSL,...,PRECT,TS,TREFHT,Z1000,Z200,ZBOT,year,month,date,LABELS
0,-24.758801,242.1875,16.019615,-4.391696,4.777769,-6.388222,7.725320,0.010277,102326.2344,102326.2344,...,6.660000e-09,295.622253,293.301514,197.698624,12234.78809,64.372635,2003,8,4,0
1,23.820078,276.8750,11.556691,-2.483993,-6.009627,-3.503036,-5.921963,0.007468,101885.3906,101885.3906,...,0.000000e+00,299.854919,293.339996,160.414246,12099.36133,64.209663,2002,3,31,0
2,13.494133,253.1250,53.186630,0.150933,-1.319407,3.757741,-2.172120,0.018809,100824.6328,100824.6328,...,9.800000e-08,301.606934,299.973450,72.840614,12379.26855,66.243294,2000,9,6,0
3,-24.524120,241.5625,43.424503,10.390884,-10.737404,2.822728,-11.261213,0.014424,101099.9375,101099.9375,...,5.650000e-08,296.483215,296.177185,95.622093,12237.61719,65.247345,2001,9,19,2
4,-24.993481,242.1875,34.667477,-1.841543,3.988539,1.742689,6.661032,0.013957,101552.2656,101552.2656,...,3.570000e-09,299.140747,297.297180,134.934036,12242.46875,65.431206,2001,4,25,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22645,-20.769231,229.6875,17.247395,5.472986,-3.642907,-1.382102,-4.805233,0.012555,101502.6406,101502.6406,...,5.370000e-17,297.768890,296.710236,130.367966,12308.53027,65.280739,2000,9,28,0
22646,13.494133,252.8125,53.929550,-7.672997,-4.186466,5.395471,5.290195,0.018129,100943.5156,100943.5156,...,4.480000e-20,302.127685,298.890289,82.900589,12407.66797,65.909958,2009,7,15,0
22647,-21.003911,229.6875,34.676754,-9.601542,1.853052,-11.285004,4.884233,0.013464,102099.4609,102099.4609,...,1.590000e-07,297.313141,296.051178,180.867950,12299.45996,65.126869,2010,10,19,0
22648,-21.003911,229.0625,23.064512,-3.096328,-3.706821,-3.422838,-1.319323,0.013747,101791.6016,101791.6016,...,4.100000e-15,296.893219,296.203308,154.993484,12338.62500,65.235397,1996,10,3,0
22649,13.024772,253.4375,53.848255,10.059551,-0.746791,9.813080,1.184948,0.019498,100899.0000,100899.0000,...,2.430000e-07,302.068481,300.820374,79.624161,12387.60742,66.427940,2004,10,3,0

In [108]:
final_df.to_csv("final_df_after_removing_all_dups_WITHOUT_lat_long_WITHOUT_smote.csv")

In [36]:
df_train = final_df

In [37]:
df_train

,lat,lon,TMQ,U850,V850,UBOT,VBOT,QREFHT,PS,PSL,...,PRECT,TS,TREFHT,Z1000,Z200,ZBOT,year,month,date,LABELS
0,-24.758801,242.1875,16.019615,-4.391696,4.777769,-6.388222,7.725320,0.010277,102326.2344,102326.2344,...,6.660000e-09,295.622253,293.301514,197.698624,12234.78809,64.372635,2003,8,4,0
1,23.820078,276.8750,11.556691,-2.483993,-6.009627,-3.503036,-5.921963,0.007468,101885.3906,101885.3906,...,0.000000e+00,299.854919,293.339996,160.414246,12099.36133,64.209663,2002,3,31,0
2,13.494133,253.1250,53.186630,0.150933,-1.319407,3.757741,-2.172120,0.018809,100824.6328,100824.6328,...,9.800000e-08,301.606934,299.973450,72.840614,12379.26855,66.243294,2000,9,6,0
3,-24.524120,241.5625,43.424503,10.390884,-10.737404,2.822728,-11.261213,0.014424,101099.9375,101099.9375,...,5.650000e-08,296.483215,296.177185,95.622093,12237.61719,65.247345,2001,9,19,2
4,-24.993481,242.1875,34.667477,-1.841543,3.988539,1.742689,6.661032,0.013957,101552.2656,101552.2656,...,3.570000e-09,299.140747,297.297180,134.934036,12242.46875,65.431206,2001,4,25,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22645,-20.769231,229.6875,17.247395,5.472986,-3.642907,-1.382102,-4.805233,0.012555,101502.6406,101502.6406,...,5.370000e-17,297.768890,296.710236,130.367966,12308.53027,65.280739,2000,9,28,0
22646,13.494133,252.8125,53.929550,-7.672997,-4.186466,5.395471,5.290195,0.018129,100943.5156,100943.5156,...,4.480000e-20,302.127685,298.890289,82.900589,12407.66797,65.909958,2009,7,15,0
22647,-21.003911,229.6875,34.676754,-9.601542,1.853052,-11.285004,4.884233,0.013464,102099.4609,102099.4609,...,1.590000e-07,297.313141,296.051178,180.867950,12299.45996,65.126869,2010,10,19,0
22648,-21.003911,229.0625,23.064512,-3.096328,-3.706821,-3.422838,-1.319323,0.013747,101791.6016,101791.6016,...,4.100000e-15,296.893219,296.203308,154.993484,12338.62500,65.235397,1996,10,3,0
22649,13.024772,253.4375,53.848255,10.059551,-0.746791,9.813080,1.184948,0.019498,100899.0000,100899.0000,...,2.430000e-07,302.068481,300.820374,79.624161,12387.60742,66.427940,2004,10,3,0

In [38]:
latest_labels = df_train[["LABELS"]]

In [39]:
# #https://datascience.stackexchange.com/questions/13567/ways-to-deal-with-longitude-latitude-feature
# #https://heartbeat.comet.ml/working-with-geospatial-data-in-machine-learning-ad4097c7228d
# #https://stackoverflow.com/questions/14059094/i-want-to-multiply-two-columns-in-a-pandas-dataframe-and-add-the-result-into-a-n
# df_train['cos_lat'] = np.cos(df_train[['lat']])
# df_train['cos_long'] = np.cos(df_train[['lon']])
# df_train['sin_lat'] = np.sin(df_train[['lat']])
# df_train['sin_long'] = np.sin(df_train[['lon']])

# df_train['x'] = df_train['cos_lat'] * df_train['cos_long']
# df_train['y'] = df_train['cos_lat'] * df_train['sin_long']
# df_train['z'] = df_train['sin_lat']

# #df_train = df_train.drop(columns=['cos_lat','cos_long','sin_lat','sin_long', 'lat', 'lon'])
# df_train = df_train.drop(columns=['cos_lat','cos_long','sin_lat','sin_long'])


# # df_train["x"] = np.cos(df_train[['lat']]) * np.cos(df_train[['lon']])
# # df_train["y"] = np.cos(df_train[['lat']]) * np.sin(df_train[['lon']])
# # df_train["z"] = np.sin(df_train[['lat']])

In [40]:
# df_train["rad_lat"] = np.radians(df_train[['lat']])
# df_train["rad_lon"] = np.radians(df_train[['lon']])

In [41]:
df_train.nunique()

lat          24
lon          35
TMQ       22540
U850      22555
V850      22558
UBOT      22556
VBOT      22555
QREFHT    22533
PS        21520
PSL       21537
T200      22068
T500      21789
PRECT      6506
TS         9827
TREFHT    21892
Z1000     22535
Z200      21880
ZBOT      21964
year         15
month        12
date         31
LABELS        3
dtype: int64

In [114]:
# #Trying clustering:
# from sklearn.cluster import KMeans ,AgglomerativeClustering

# # creates 5 clusters using hierarchical clustering.
# agc = AgglomerativeClustering(n_clusters = 5, affinity='euclidean', linkage='ward')
# df_train['cluster_lat'] = agc.fit_predict(df_train[['lat']])

In [115]:
# agc = AgglomerativeClustering(n_clusters = 7, affinity='euclidean', linkage='ward')
# df_train['cluster_lon'] = agc.fit_predict(df_train[['lon']])

In [116]:
#https://stackabuse.com/one-hot-encoding-in-python-with-pandas-and-scikit-learn/
#z = pd.get_dummies(df_train.cluster_lon, prefix='Long')
#z.head()

In [117]:
#df_train = pd.concat([df_train, y, z], axis=1)

In [118]:
#df_train

In [42]:
df_train.columns

Index(['lat', 'lon', 'TMQ', 'U850', 'V850', 'UBOT', 'VBOT', 'QREFHT', 'PS',
       'PSL', 'T200', 'T500', 'PRECT', 'TS', 'TREFHT', 'Z1000', 'Z200', 'ZBOT',
       'year', 'month', 'date', 'LABELS'],
      dtype='object')

In [43]:
#df_train = df_train.drop(columns=['Lat_0', 'Lat_1', 'Lat_2', 'Lat_3', 'Lat_4', 'Long_0', 'Long_1', 'Long_2', 'Long_3', 'Long_4', 'Long_5', 'Long_6'])

In [44]:
df_train = df_train.drop(columns=["LABELS"])
df_train = pd.concat([df_train, latest_labels],axis=1)

In [45]:
df_train

,lat,lon,TMQ,U850,V850,UBOT,VBOT,QREFHT,PS,PSL,...,PRECT,TS,TREFHT,Z1000,Z200,ZBOT,year,month,date,LABELS
0,-24.758801,242.1875,16.019615,-4.391696,4.777769,-6.388222,7.725320,0.010277,102326.2344,102326.2344,...,6.660000e-09,295.622253,293.301514,197.698624,12234.78809,64.372635,2003,8,4,0
1,23.820078,276.8750,11.556691,-2.483993,-6.009627,-3.503036,-5.921963,0.007468,101885.3906,101885.3906,...,0.000000e+00,299.854919,293.339996,160.414246,12099.36133,64.209663,2002,3,31,0
2,13.494133,253.1250,53.186630,0.150933,-1.319407,3.757741,-2.172120,0.018809,100824.6328,100824.6328,...,9.800000e-08,301.606934,299.973450,72.840614,12379.26855,66.243294,2000,9,6,0
3,-24.524120,241.5625,43.424503,10.390884,-10.737404,2.822728,-11.261213,0.014424,101099.9375,101099.9375,...,5.650000e-08,296.483215,296.177185,95.622093,12237.61719,65.247345,2001,9,19,2
4,-24.993481,242.1875,34.667477,-1.841543,3.988539,1.742689,6.661032,0.013957,101552.2656,101552.2656,...,3.570000e-09,299.140747,297.297180,134.934036,12242.46875,65.431206,2001,4,25,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22645,-20.769231,229.6875,17.247395,5.472986,-3.642907,-1.382102,-4.805233,0.012555,101502.6406,101502.6406,...,5.370000e-17,297.768890,296.710236,130.367966,12308.53027,65.280739,2000,9,28,0
22646,13.494133,252.8125,53.929550,-7.672997,-4.186466,5.395471,5.290195,0.018129,100943.5156,100943.5156,...,4.480000e-20,302.127685,298.890289,82.900589,12407.66797,65.909958,2009,7,15,0
22647,-21.003911,229.6875,34.676754,-9.601542,1.853052,-11.285004,4.884233,0.013464,102099.4609,102099.4609,...,1.590000e-07,297.313141,296.051178,180.867950,12299.45996,65.126869,2010,10,19,0
22648,-21.003911,229.0625,23.064512,-3.096328,-3.706821,-3.422838,-1.319323,0.013747,101791.6016,101791.6016,...,4.100000e-15,296.893219,296.203308,154.993484,12338.62500,65.235397,1996,10,3,0
22649,13.024772,253.4375,53.848255,10.059551,-0.746791,9.813080,1.184948,0.019498,100899.0000,100899.0000,...,2.430000e-07,302.068481,300.820374,79.624161,12387.60742,66.427940,2004,10,3,0

In [46]:
df_train.to_csv("final_df_after_removing_all_dups_WITH_lat_long_WITHOUT_smote.csv")

In [47]:
df_train

,lat,lon,TMQ,U850,V850,UBOT,VBOT,QREFHT,PS,PSL,...,PRECT,TS,TREFHT,Z1000,Z200,ZBOT,year,month,date,LABELS
0,-24.758801,242.1875,16.019615,-4.391696,4.777769,-6.388222,7.725320,0.010277,102326.2344,102326.2344,...,6.660000e-09,295.622253,293.301514,197.698624,12234.78809,64.372635,2003,8,4,0
1,23.820078,276.8750,11.556691,-2.483993,-6.009627,-3.503036,-5.921963,0.007468,101885.3906,101885.3906,...,0.000000e+00,299.854919,293.339996,160.414246,12099.36133,64.209663,2002,3,31,0
2,13.494133,253.1250,53.186630,0.150933,-1.319407,3.757741,-2.172120,0.018809,100824.6328,100824.6328,...,9.800000e-08,301.606934,299.973450,72.840614,12379.26855,66.243294,2000,9,6,0
3,-24.524120,241.5625,43.424503,10.390884,-10.737404,2.822728,-11.261213,0.014424,101099.9375,101099.9375,...,5.650000e-08,296.483215,296.177185,95.622093,12237.61719,65.247345,2001,9,19,2
4,-24.993481,242.1875,34.667477,-1.841543,3.988539,1.742689,6.661032,0.013957,101552.2656,101552.2656,...,3.570000e-09,299.140747,297.297180,134.934036,12242.46875,65.431206,2001,4,25,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22645,-20.769231,229.6875,17.247395,5.472986,-3.642907,-1.382102,-4.805233,0.012555,101502.6406,101502.6406,...,5.370000e-17,297.768890,296.710236,130.367966,12308.53027,65.280739,2000,9,28,0
22646,13.494133,252.8125,53.929550,-7.672997,-4.186466,5.395471,5.290195,0.018129,100943.5156,100943.5156,...,4.480000e-20,302.127685,298.890289,82.900589,12407.66797,65.909958,2009,7,15,0
22647,-21.003911,229.6875,34.676754,-9.601542,1.853052,-11.285004,4.884233,0.013464,102099.4609,102099.4609,...,1.590000e-07,297.313141,296.051178,180.867950,12299.45996,65.126869,2010,10,19,0
22648,-21.003911,229.0625,23.064512,-3.096328,-3.706821,-3.422838,-1.319323,0.013747,101791.6016,101791.6016,...,4.100000e-15,296.893219,296.203308,154.993484,12338.62500,65.235397,1996,10,3,0
22649,13.024772,253.4375,53.848255,10.059551,-0.746791,9.813080,1.184948,0.019498,100899.0000,100899.0000,...,2.430000e-07,302.068481,300.820374,79.624161,12387.60742,66.427940,2004,10,3,0

In [48]:
def df_to_train_test_split(df):
    #df is the normalized or standardized df
    #labels are just the labels.
#         So we need 6760 test exmaples, in 18:4:1 ratio roughly to match the train test.<br>
#         So we need:<br>
#         1s - 294<br>
#         2s - 1176<br>
#         0s - 5290<br>
    data_with_labels = df
    data_with_labels_0s = data_with_labels[data_with_labels["LABELS"] == 0]
    data_with_labels_1s = data_with_labels[data_with_labels["LABELS"] == 1]
    data_with_labels_2s = data_with_labels[data_with_labels["LABELS"] == 2]

    data_1_test = data_with_labels_1s.iloc[0:109]
    data_2_test = data_with_labels_2s.iloc[0:458]
    data_0_test = data_with_labels_0s.iloc[0:2827]

    data_1_train = data_with_labels_1s.iloc[109:]
    data_2_train = data_with_labels_2s.iloc[458:]
    data_0_train = data_with_labels_0s.iloc[2827:]

    test = pd.concat([data_1_test, data_2_test, data_0_test])
    #Houston, we have a problem, we need to shuffle the indices, but pandas has us covered
    #https://stackoverflow.com/questions/29576430/shuffle-dataframe-rows
    train = pd.concat([data_1_train, data_2_train, data_0_train])

    #Shuffling:
    #df = df.sample(frac=1).reset_index(drop=True)
    test = test.sample(frac=1).reset_index(drop=True)
    train = train.sample(frac=1).reset_index(drop=True)

    #Finally, we have our train and test sets.
    #Let's try to follow this post: https://github.com/rahulrrai/multinomial-logistic-regression/blob/master/multinomial-logistic-regression.ipynb
    train_np = train.to_numpy()
    test_np = test.to_numpy()

    #number of training examples
    #this is 41000 in our case
    num_of_train = train_np.shape[0]
    num_of_test = test_np.shape[0]
    #retaining just the features
    X_train = train_np[:,:-1]
    X_test = test_np[:,:-1]
    ##As we are using vector implementation adding a column in X with all the value 1
    # I'm guessing this is the bias term added to our train matrix itself
#     X_train = np.hstack((np.ones((num_of_train,1)),X_train))
#     X_test = np.hstack((np.ones((num_of_test,1)), X_test))
    #output 
    y_train = train_np[:,-1:]
    y_test = test_np[:,-1:]
    #each individual entry in y is a numpy array, let's see if this works out.
    
    return X_train, X_test, y_train, y_test

In [49]:
# df_train = (df_train-df_train.mean())/df_train.std()

In [71]:
X_train, X_test, y_train, y_test = df_to_train_test_split(df_train)

In [92]:
def standardizer_new(X_train):
    df = pd.DataFrame(X_train)
    #df = df.drop(columns=[0])
    df = (df-df.mean())/df.std()
    X_train = df.to_numpy()
    #num_of_train = X_train.shape[0]
    #X_train = np.hstack((np.ones((num_of_train,1)),X_train))
    return X_train

In [93]:
X_train_std = standardizer_new(X_train)
X_train_std

array([[-1.18714513,  2.03546221, -1.55452176, ...,  0.07251468,
         0.99347414,  0.88757582],
       [-0.93097641, -0.68148278, -1.56718247, ..., -0.17262976,
         0.15825233,  1.42593772],
       [ 1.08763311,  0.16614351,  0.63573572, ..., -1.15320753,
        -0.67696949,  0.4568863 ],
       ...,
       [ 1.15936035,  0.18884779,  1.61413026, ..., -0.90806308,
         0.57586323, -1.37354417],
       [-1.20763863,  2.05816648, -1.34694395, ...,  1.54338133,
         0.15825233, -1.48121655],
       [-0.95146991, -0.67391469, -1.2603075 , ..., -0.17262976,
         0.57586323, -0.08147561]])

In [73]:
# np.savetxt("X_train_std.csv", X_train_std, delimiter=",")
# np.savetxt("y_train.csv", y_train, delimiter=",")

In [74]:
y_train = y_train.astype(int)
y_test = y_test.astype(int)

In [75]:
X_test_std = standardizer_new(X_test)

In [76]:
X_train_std.shape

(19256, 21)

In [77]:
X_test_std.shape

(3394, 21)

In [81]:
y_train.shape

(19256, 1)

In [94]:
np.unique(y_train, return_counts=True)

(array([0, 1, 2]), array([16048,   605,  2603], dtype=int64))

In [95]:
y_test.shape

(3394, 1)

In [96]:
np.unique(y_test, return_counts=True)

(array([0, 1, 2]), array([2827,  109,  458], dtype=int64))

In [97]:
X_train_full_std =a np.concatenate((X_train_std, X_test_std), axis=0)

In [98]:
y_train_full = np.concatenate((y_train, y_test), axis=0)

In [99]:
np.savetxt("X_train_full_std.csv", X_train_full_std, delimiter=",")
np.savetxt("y_train_full.csv", y_train_full, delimiter=",")

In [100]:
from imblearn.over_sampling import ADASYN

In [101]:
np.unique(y_train, return_counts=True)

(array([0, 1, 2]), array([16048,   605,  2603], dtype=int64))

In [102]:
ada = ADASYN(random_state = 130)
X_train_ada, y_train_ada = ada.fit_resample(X_train, y_train)

In [103]:
np.unique(y_train_ada, return_counts=True)

(array([0, 1, 2]), array([16048, 15995, 16033], dtype=int64))

In [108]:
X_train_ada.shape

(48076, 21)

In [109]:
X_train_ada_std = standardizer_new(X_train_ada)
y_train_ada = y_train_ada

In [110]:
X_train_ada_std.shape

(48076, 21)

In [111]:
X_test_std.shape

(3394, 21)

In [115]:
y_train_ada.shape

(48076,)

In [117]:
y_test.ravel().shape

(3394,)

In [119]:
X_train_full_ada_std = np.concatenate((X_train_ada_std, X_test_std), axis=0)

In [120]:
y_train_full_ada = np.concatenate((y_train_ada, y_test.ravel()), axis=0)

In [122]:
np.savetxt("X_train_full_ada_std.csv", X_train_full_ada_std, delimiter=",")
np.savetxt("y_train_full_ada.csv", y_train_full_ada, delimiter=",")